
@{
    ViewBag.Title = "Oшибка";
}

<div class="container">
    <p>Во время выполнения вашего запроса произошли одна или несколько ошибок.</p>
    <p>Побробуйте выполнить запрос позднее. Если ошибка повторится, обратитесь в службу поддержки.</p>
</div>

